
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #fda4b1;
            font-family: 'Arial', sans-serif;
            overflow: hidden;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
            display: flex;
        }

        button {
            padding: 10px 20px;
            font-size: 1.2em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

.yesbutton {
    height: 30px;
    width: 50px;
    padding: 10px;
    border: 2px solid rgb(0, 190, 0);
    margin: 6px;
    background-color: rgb(0, 190, 0) ;
}
.nobutton{
    height: 30px;
    width: 50px;
    padding: 10px;
    border: 2px solid rgb(194, 0, 0);
    margin: 6px;    
    background-color: rgb(194, 0, 0);
}
.nobutton:hover{
    height: 30px;
    width: 50px;
    padding: 10px;
    border: 2px solid rgb(194, 0, 0);
    margin: 6px;    
    background-color: rgb(228, 0, 0);
}

.centered-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}